.row{
	width:100%;
	display:flex;
	flex-direction:row;
}

.col-1,.col-2, .col-3, .col-4{
	width:25%;
	padding:15px;
}

.col-1, .col-3{
	background-color: #eeeeee;
}

.col-2, .col-4{
	background-color: #cccccc;
}